<h1><%= @service.name %></h1>

<p>Price: <%= @service.price %></p>
<p>Active: <%= @service.is_active %></p>
<p>Created at: <%= @service.created_at %></p>

<%= link_to "Back to Services", services_path %>
