<h1>Reservation <%= @reservation.code %></h1>

<p>Guest ID: <%= @reservation.guest_id %></p>
<p>Room ID: <%= @reservation.room_id %></p>
<p>Check-in: <%= @reservation.check_in %></p>
<p>Check-out: <%= @reservation.check_out %></p>
<p>Status: <%= @reservation.status %></p>
<p>Adults: <%= @reservation.adults %></p>
<p>Children: <%= @reservation.children %></p>

<%= link_to "Back to Reservations", reservations_path %>

